In [ ]:
print("my name is rajan")

In [ ]:
## Arithmatic operators

In [ ]:
##adition
a = 10
b = 20
add = a+b
print(add)

In [ ]:
a = 20
b = 30
print(a==b)

In [ ]:
## substraction
a = 12
b = 56
sub = b-a
print(sub)
print(a==b)

In [ ]:
## multiplication
a = 35
b = 15
product = a*b
print(product)
print(a!=b)

In [ ]:
## Division
a = 25
b = 25
division = a/b
print(division)
print(a==b)

In [ ]:
##floor division
a = 45
b = 45
floor_division  = a//b
print(floor_division)
print(a==b)

In [ ]:
a =  36
b = 56
floor_division = a//b
print(floor_division)

In [ ]:
## percentage

a = 45
b = 37

percentage = a%b
print(percentage)

In [ ]:
a = 4
b = 5
power = (a^b)
print(power)

In [ ]:
power = 4^5
print(power)

In [ ]:
4^5

In [ ]:
2^2

In [ ]:
4^5

In [ ]:
## Assignment operator

In [ ]:
a =  7
b = 4
a /=b
print(a)

In [ ]:
a = 3
b =4 
a *=b
print(a)

In [ ]:
a = 3
b =2
a +=b
print(a)

In [ ]:
a = 5
b = 4
a-=b
print(a)

In [ ]:
a = 5
b = 8
a ^=b
print(a)

In [ ]:
a = 5
b = 4
a //=b
print(a)

In [ ]:
2**4

In [ ]:
a = 5
b = 6
power = (a**b)
print(power)

In [ ]:
## & operator is bitwise operator

a = 5
b = 3
print(a & b)

In [ ]:
## | is the bitwise operator

a = 5
b = 3
print(a|b)

In [ ]:
## and operator is logical operator

a = 5
b = 4
print(a and b)

In [ ]:
## or operator

a = 5
b = 4
print(a or b)

In [ ]:
## not logical operator

a = 5
b = 7
print (not (a==b) )

In [ ]:
a = 5
b = 3
print(not(a&b))

In [ ]:
a = 8
b = 10
print(not(a==b))

In [ ]:
a = 7
print(a<<7)

In [ ]:
a = 14
print(a>>14)

In [ ]:
a = 14
print(a<<14)

In [ ]:
a = 8
b = 4
print(8&b)
print(8|b)
print(8^b)

In [ ]:
print(14<<1)

In [ ]:
print(14>>1)

In [ ]:
print(14<<2)

In [ ]:
print(14>>2)

In [ ]:
x = 0
if x<5 and x<10:
    print("True")
else:
    print("False")

In [ ]:
x = 10
if x<15 or x>20:
    print("True")
else:
    print("False")

In [ ]:
x = 15
if x<20 and x>15:
    print("True")
else:
    print('False')

In [ ]:
x = 12
if not x<20 and x<14:
    print("True")
else:
    print("False")

In [ ]:
## Comparison operators
a = 10
b = 30
print(a!=b)

In [ ]:
a = 16
b = 15
print(a==b)

In [ ]:
a = 16
b = 15
print(a>b)

In [ ]:
a = 20
b = 35
print(a>b)

In [ ]:
a = 20
b = 35
print(a>=b)

In [ ]:
## Identity operators

x = ["apple","grapes","orange","banana"]
y = ["apple","grapes","orange","banana"]
z = x
print(x is z)
print(x is y )

In [ ]:
x = ["apple","grapes","orange","banana"]
y = ["apple","grapes","orange","banana"]
print(x == y)

In [ ]:
x = ["apple","grapes","orange","banana"]
y = ["apple","grapes","orange","banana"]
z = x
print( x in z)

In [ ]:
x = ["apple","grapes","orange","banana"]
y = ["apple","grapes","orange","banana"]
z = x
print(x is not y)
print(x is not z)

In [ ]:
## membership operators

fruit = ["apple","grapes","orange","banana"]

print("apple" in fruit)

In [ ]:

fruit = ["apple","grapes","orange","banana"]
print("apple" not in fruit)

In [ ]:
fruit = ["apple","grapes","orange","banana"]
print("banana" in fruit)

In [ ]:
fruit = ["apple","grapes","orange","banana"]
print("gavava" not in fruit)

In [2]:
## user define input

def km_to_msec(km):
    msec = km*(5/18)
    return msec

In [3]:
km_to_msec(20)

5.555555555555555

In [4]:
name = input("enter the name")
subject_1 = input("Physics")
subject_2 = input("Math")
subject_3 = input("Chemistry")
print(name , subject_1 , subject_2 , subject_3)

enter the name Nidhi
Physics 45
Math 56
Chemistry 78
 Nidhi  45  56  78

In [13]:
Nidhi = 45+56+78

In [14]:
print(Nidhi)

179

In [15]:
name = input("enter the name")
subject1 = input("Physics")
subject2 = input("Math")
subject3 = input("Chemistry")
print(name , subject1 , subject2 , subject3)

enter the name Shubh
Physics 78
Math 67
Chemistry 78
 Shubh  78  67  78

In [16]:
shubh = 78+67+78
print(shubh)

223

In [17]:
print(Nidhi==shubh)

False

In [18]:
def sec_to_min(sec):
    sec = sec/60
    return sec

In [19]:
sec_to_min(90)

1.5

In [26]:
def fahren_to_cel(fahren):
    cel = (fahren-32)/(1.8)
    return cel

In [27]:
fahren_to_cel(32)

0.0

In [28]:
def fahren_to_cel(fahren):
    cel = (fahren-32)/1.8
    return cel

In [29]:
fahren_to_cel(40)

4.444444444444445

In [30]:
num = int(input("enter the number"))
if num%2==0:
    print("True")
else:
    print("odd")

enter the number 34
True

In [31]:
num = int(input("enter the number"))
if num%2==0:
    print("True")
else:
    print("odd")

enter the number 45
odd

In [32]:
a = ["Dog" , "Cat"]
print("Dog" in a)

True

In [34]:
for i in range (10,50,2):
     print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [35]:
ph = int(input("enter a number"))
if ph>=1 and ph<=3:
    print("strong acid")
elif ph>=4 and ph<=6:
    print("weak acid")
elif ph ==7:
    print("Neutral")
elif ph>=8 and ph<=11:
    print("weak base")
elif ph>=11 and ph<=14:
    print("strong base")
else:
    print("not valid")

enter a number 4
weak acid

In [37]:
## Build a code for burger delivery

burger = input("enter a choice of burger: non_veg or veg")
if burger == 'non_veg':
    burger_name = int(input("select the burger: 1.chicken_burger\n2.hamburger"))
    if burger_name ==1:
        print("ordered:chicken_burger")
    elif burger_name ==2:
        print("ordered:hamburger")
else:
    burger_name = int(input("select the burger: 1.cheeze_burger\n2.aalotiki_burger\n3.mexican_burger"))
    if burger_name ==1:
        print("ordered:cheeze_burger")
    elif burger_name==2:
        print( "ordered:aalotiki_burger")
    elif burger_name==3:
        print("ordered:mexican_burger")

enter a choice of burger: non_veg or veg veg
select the burger: 1.cheeze_burger
2.aalotiki_burger
3.mexican_burger 3
ordered:mexican_burger